.FormVideoGame {
    display: flex;
    color: white;    
}

.divInputLabel{
    margin-left: 20px;
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.divInputLabel input, textarea {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.buttonCreate {
    background-color: black;
    color: white;
    border-radius: 5px;
    
}

.divButton{
    width: 320px;
    display: flex;
    justify-content: right ;
}
